/* Banner */
body .home-banner .container .banner-image {transform: rotate(-2.1deg); position: absolute; bottom: -15px; margin: 0; /* right: calc(50% - (830px/2)); */ }
body .home-banner .container .banner-image .et_pb_image_wrap{ display: flex; justify-content: center;}
body .home-banner {min-height: 1010px;overflow: hidden;}
body .home-banner .container .banner-image img{height: 970px; width: 831px;}
body .home-banner .container .et_pb_column,body .home-banner .container{position: unset;}
body .home-banner .container .et_pb_column{display: flex; align-items: center; justify-content: center;}
body .home-banner{ position: relative;}
body .home-banner .container .banner-title h2{font-size: 350px; line-height: 75.4%;color: #FFFFFF;text-align: center;padding-top: 270px;display: flex;justify-content: space-between;}
body .home-banner .container .banner-title h3{font-size: 2.375rem;line-height: 1.1em;color: #FFFFFF;letter-spacing: 0.125em;text-align: center;padding-top: 15px;}
body .home-banner .container .banner-title{width: 100%;}

/* As seen on (Logo Section) */
.banner-sub-section{padding: 75px 0px;}
.banner-sub-section .banner-sub-content{padding: 0px;padding-top: 0px!important;}
.banner-sub-section .banner-sub-content .contain .title{margin-bottom: 60px;}
.banner-sub-section .banner-sub-content .contain .title h4{ padding-bottom: 0px;font-size: 1.75rem; text-transform: uppercase; font-family: 'bignoodletitling'; color: #000; letter-spacing: 12.5px; text-align: center;}
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section{ display: flex; justify-content: space-between; align-items: center;}
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section a{display: flex;justify-content: center;align-items: center;}
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section .slick-track{display: flex;align-items: center;}
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section .slick-list{width: 100%;}
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section .slick-list .mq-co-logo-content{width: 14%;}

/* Speaker Section */
.h-speaker-section{padding: 0px;}
.h-speaker-section .h-speaker-content{padding: 0px;width: 100%;display: flex; justify-content: flex-end; align-items: flex-start;}
.h-speaker-section .h-speaker-content .content:first-child{position: absolute; z-index: 9; left: 0px; top: 220px;width: 100%;z-index: 5;}
.h-speaker-section .h-speaker-content .content:first-child .et_pb_module{width: 90%;margin: auto;}
.h-speaker-section .h-speaker-content .content:first-child h2{ font-size: 25rem; writing-mode: vertical-lr; font-family: 'bignoodletitling'; color: #014EFF;line-height: .8em;}
.h-speaker-section .h-speaker-content .content:nth-child(2){width: calc(60% - 90px);z-index: 4;  margin: 0px;position: absolute;left: 0px;top: 0px;border-radius: 0px 0px 420px 0px; overflow: hidden;}
.h-speaker-section .h-speaker-content .content:nth-child(3){width: 40%; margin: 0px; margin-right: 5%!important;padding: 60px 20px 140px 85px;position: relative;z-index: 9;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .text-content .et_pb_blurb_content{width: 100%; max-width: 100%;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_module_header{font-size: 6.25rem; color: #000; line-height: .85em;padding-bottom: 45px;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description{font-size: 1.125rem;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description p{font-family: 'Poppins';color: #000;line-height: 2.2em;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .btn{margin-bottom: 110px;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content{width: calc(100% + 500px); margin-left: -500px;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section{display: flex; justify-content: flex-end; align-items: center;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section .slick-track{display: flex;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section .mq-speaker-post-content{width: 340px; height: 250px;margin-left: 25px;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section .mq-speaker-post-content .speaker-content{height: 100%;position: relative;border-radius: 15px; overflow: hidden;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section .mq-speaker-post-content .speaker-content video{object-fit: cover; height: 100%;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section .mq-speaker-post-content .speaker-content .overlay-image{ width: 100%; height: 100%; top: 0px; left: 0px;opacity: 1; position: absolute;transition: .3s ease-in-out;}
.h-speaker-section .h-speaker-content .content:nth-child(3) .speaker-post-content .mq-speaker-post-section .mq-speaker-post-content .speaker-content .overlay-image::before{content: "";background: url(../images/ka-play-btn.svg)no-repeat center / cover; width: 55px;height: 55px;position: absolute;    top: 50%; left: 50%; transform: translate(-50%, -50%);}
.banner-sub-section .banner-sub-content .contain .title h4{font-size: 1.75rem;}
.banner-sub-section .banner-sub-content .contain{}

/* informative events section */
body .informative-events-section .events-section { display: flex; justify-content: flex-end; align-items: center; }
body .informative-events-section .events-section .events-content {box-shadow: 0px 84px 84px rgba(0, 0, 0, 0.07); background: white; padding: 18px; padding-bottom: 25px; border-radius: 15px; color: black; text-align: center; max-width: 306px;margin-left: 40px;}
body .informative-events-section .et_pb_column:first-child{width: 29%;}
body .informative-events-section .events-column{width: 65%;}
body .informative-events-section .events-section .events-content h4 {padding-top: 25px; color: black; font-size: 1.875rem; line-height: 1.1em;}
body .informative-events-section .events-section .events-content p{font-size: 0.8125rem;line-height: 217.5%;}
body .informative-events-section .events-section .slick-track{padding-bottom: 140px;display: flex; justify-content: center;}
body .informative-events-section .events-column .btn{display: flex;justify-content: flex-end;}
body .informative-events-section .events-column h2{text-align: center; font-size: 6.25rem;line-height: 0.919em;padding-bottom: 38px;    }
body .informative-events-section .events-column p{color: black; text-align: center; font-size: 1.125rem; line-height: 2.175em;}
body .informative-events-section .events-column .events_sc { margin-bottom: -81px; }
body .informative-events-section .events-column .btn a{display: inline-block;}
body .informative-events-section .events-column  .events-text{margin-bottom: 65px;}


/* Critical Principles Section */
.critical-principles-section{padding: 0px;overflow: hidden;}
.critical-principles-section .critical-principles-content{padding: 0px;width: 100%;}
.critical-principles-section .critical-principles-content .content:first-child{padding: 243px 0px 114px; width: 100%;}
.critical-principles-section .critical-principles-content .content:first-child .et_pb_blurb{width: 90%; margin: auto;}
.critical-principles-section .critical-principles-content .content:first-child .et_pb_blurb .et_pb_blurb_content{width: 50%; max-width: 50%; margin: 0;}
.critical-principles-section .critical-principles-content .content:first-child .et_pb_blurb .et_pb_blurb_content .et_pb_module_header{ font-size: 6.25rem; color: #fff; padding-right: 100px; line-height: .9em; padding-bottom: 35px;}
.critical-principles-section .critical-principles-content .content:first-child .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_description{font-size: 1.125rem; color: #fff; padding-right: 200px; line-height: 2.5em;}
.critical-principles-section .critical-principles-content .content:first-child .btn{padding-top: 20px; margin-top: 40px;}
.critical-principles-section .critical-principles-content .content:first-child .btn .et_pb_text_inner{width: 90%; margin: auto;}
.critical-principles-section .critical-principles-content .content:last-child{    position: absolute; right: 0px; top: 0px; width: 65%; z-index: 1;}
.critical-principles-section .critical-principles-content .content:last-child{    position: absolute; right: 0px; top: 0px; width: 77%; z-index: 1;}

/* Giving Section */
body .h-giving-section{padding: 0px;}
body .h-giving-section .h-giving-content{padding: 0px;width: 100%;display: flex; justify-content: flex-end; align-items: flex-start;}
body .h-giving-section .h-giving-content .content:first-child{position: absolute; z-index: 9; left: 0px; top: 220px;width: 100%;z-index: 5;}
body .h-giving-section .h-giving-content .content:first-child .et_pb_module{width: 90%;margin: auto;}
body .h-giving-section .h-giving-content .content:first-child h2{ font-size: 25rem; writing-mode: vertical-lr; font-family: 'bignoodletitling'; color: #014EFF;line-height: .8em;}
body .h-giving-section .h-giving-content .content:nth-child(2){width: calc(60% - 90px);z-index: 4;  margin: 0px;position: absolute;left: 0px;top: 0px;border-radius: 0px 0px 420px 0px; overflow: hidden;}
body .h-giving-section .h-giving-content .content:nth-child(3){width: 40%; margin: 0px; margin-right: 5%!important;padding: 60px 20px 170px 85px;position: relative;z-index: 9;}
body .h-giving-section .h-giving-content .content:nth-child(3) .text-content .et_pb_blurb_content{width: 100%; max-width: 100%;}
body .h-giving-section .h-giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_module_header{line-height: 91.9% !important;font-size: 6.25rem; color: #000; line-height: .85em;padding-bottom: 45px;}
body .h-giving-section .h-giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description{font-size: 1.125rem;}
body .h-giving-section .h-giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description a{color: black;text-decoration: underline;}
body .h-giving-section .h-giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description p{font-family: 'Poppins';color: #000;line-height: 2.2em;}
body .h-giving-section .h-giving-content .content:nth-child(3) .btn{margin-bottom: 110px;}
body .h-giving-section .h-giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_module_header .underline-b::before{background-size: cover;}

/* Social media section */

body .social-media-section{padding-top: 260px;background-position: top;}
body .social-media-section h4 { font-size: 100px; line-height: 91.9%; color: white; padding-bottom: 29px; }
body .social-media-section p{font-size: 1.25rem; line-height: 217.5%; color: white;}
body .social-media-section .et_pb_row .et_pb_column .et_pb_text{width: 65%;}

/* Contact Section */
body .contact-section .contact-content .content:first-child{position: absolute; z-index: 9; left: 0px; top: 220px;width: 100%;z-index: 5;}
body .contact-section .contact-content .content:first-child .et_pb_module{width: 90%;margin: auto;}
body .contact-section .contact-content .content:first-child h2{ font-size: 25rem; writing-mode: vertical-lr; font-family: 'bignoodletitling'; color: #fff ;line-height: .8em;}

