/* Inner Banners Section */
body .inner-banner-section{ height: 700px; padding: 0px; padding-top: 120px!important;overflow: hidden;padding-bottom: 0px;}
.inner-banner-section .inner-banner-content{ height: 100%; display: flex; align-items: center; position: relative;}
.inner-banner-section .inner-banner-content .content:first-child{width: 45%;margin: 0px;}
.inner-banner-section .inner-banner-content .content:first-child .b-title{font-size: 6.25rem; color: #fff;}
.inner-banner-section .inner-banner-content .content:last-child{width: 60%; position: absolute; right: -5%; top: 50%; transform: translate(0%, -50%);}
.inner-banner-section .inner-banner-content .content:last-child .et_pb_image_wrap {width: 100%;}
.inner-banner-section .inner-banner-content .content:last-child .et_pb_image_wrap  img{width: 100%;filter: drop-shadow(0px 84px 84px rgba(0,0,0,0.25));}
/* Blog Banners Section */
.inner-banner-section.blog-banner-section .inner-banner-content .content:last-child{top: initial; bottom: 0px; transform: translate(0%, 0%);}
.inner-banner-section.blog-banner-section .inner-banner-content .content:last-child .et_pb_image_wrap img{width: 798px; height: 610px;}
/* PodCast Banners Section */
.inner-banner-section.podcast-banner-section .inner-banner-content{position: static;}
.inner-banner-section.podcast-banner-section .inner-banner-content .content:first-child { width: 49.5%; }
.inner-banner-section.podcast-banner-section .inner-banner-content .content:last-child{width: 868px; height: 563px;    position: absolute; right: 0; top: inherit; bottom: 0px; transform: translate(0%, 0%);}
/* BOOKS */
/* giving banner */
.inner-banner-section.giving-banner-section .inner-banner-content .content:last-child .et_pb_image_wrap img { max-width: 1062px; max-height: 464px; }
.inner-banner-section.giving-banner-section .inner-banner-content .content:last-child{top: initial; bottom: 0px; transform: translate(0%, 0%);}


/************* BOOKS **************/

/* banner */
body .books-banner .banner-title{width: 51%;}
body .books-banner .banner-title h2{ font-size: 6.25rem; line-height: 91.9%; color: #FFFFFF; max-width: 710px;}
body .books-banner .banner-image .et_pb_image_wrap { position: absolute; bottom: -10px; width: 40%; }
body .books-banner .banner-image{position: static;}
body .books-banner .banner-image-col{ position: static; width: 40%; }
body .books-banner .et_pb_row{ position: static; }

/* book review sub section ~greg */
body .book-review-sub-section .et_pb_row{display: flex;justify-content: center;}
body .book-review-sub-section h4 { font-size: 3.125rem; line-height: 91.9%; padding-bottom: 26px;}
body .book-review-sub-section p{ text-align: center; color: black; font-size: 1.25rem; line-height: 217.5%; }
body .book-review-sub-section .review-content{width: 60%; margin: auto;} 
body .book-review-sub-section {padding-top: 130px; padding-bottom: 90px;}

/*  bestseller section */
body .bestseller-section{padding-top:100px; padding-bottom: 140px;}
body .bestseller-section .et_pb_row{padding-bottom: 0;}
body .bestseller-section .et_pb_column:first-child{width: 70%;}
body .bestseller-section h4{font-size: 6.25rem; line-height: 91.9%; color: #FFFFFF;margin-bottom: 90px;}
body .bestseller-section .book-ranking{width: 85%;margin-bottom: 0 !important;}
body .bestseller-section .book-ranking ul li { display: flex; align-items: center;font-size: 3.125rem; line-height: 91.9%; margin-bottom: 120px; justify-content: flex-start;list-style-type: none; color: white;font-family: 'BigNoodleTitling';}
body .bestseller-section .book-ranking ul li:last-child { margin-bottom: 90px; }
body .bestseller-section .book-ranking ul li span.ranking{ min-width: 100px; display: flex;margin-right: 90px; justify-content: center;position: relative; align-items: center;font-size: 9.375rem; line-height: 91.9%;}
body .bestseller-section .book-ranking ul li span.ranking span.sup { font-size: 3.125rem; line-height: 91.9%; }
body .bestseller-section .book-ranking ul li span.blue-text{color: #014EFF;}
body .bestseller-section .book-ranking ul li span.ranking::before{ content: ''; width: 51px; height: 107px; background: url(../images/left.png); position: absolute; display:block; left: -48px;     background-size: cover; background-repeat: no-repeat; }
body .bestseller-section .book-ranking ul li span.ranking::after{ content: ''; width: 51px; height: 107px; background: url(../images/right.png); position: absolute; display:block; right: -35px;     background-size: cover; background-repeat: no-repeat;}
body .bestseller-section .et_pb_column:first-child .btn a img{ position: relative; top: 12px; }
body .bestseller-section .et_pb_column:first-child .btn a::before{filter: brightness(0) invert(1);}
body .bestseller-section .et_pb_column:first-child .btn a{display: inline-block;}
body .bestseller-section .et_pb_column:nth-child(2){display: none;}

/* Synopsis Section */
body .synopsis-section{padding: 0px;}
body .synopsis-section .synopsis-content{padding: 0px;width: 100%;display: flex; justify-content: flex-end; align-items: flex-start;}
body .synopsis-section .synopsis-content .content:first-child{position: absolute; z-index: 9; left: 0px; top: 120px;width: 100%;z-index: 5;}
body .synopsis-section .synopsis-content .content:first-child .et_pb_module{width: 90%;margin: auto;}
body .synopsis-section .synopsis-content .content:first-child h2{ font-size: 28.125rem; writing-mode: vertical-lr; font-family: 'bignoodletitling'; color: #014EFF;line-height: .8em;}
body .synopsis-section .synopsis-content .content:nth-child(2){ /* width: 60%; */ width: calc(60% - 90px); z-index: 4;  margin: 0px;position: absolute;left: 0px;top: 0px;border-radius: 0px 0px 420px 0px; overflow: hidden;}
body .synopsis-section .synopsis-content .content:nth-child(3){width: 40%; margin: 0px; margin-right: 5%!important;padding: 0 20px 85px 5%;position: relative;z-index: 9;}
body .synopsis-section .synopsis-content .content:nth-child(3) .text-content .et_pb_blurb_content{width: 100%; max-width: 100%;}
body .synopsis-section .synopsis-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description{font-size: 1.125rem;}
body .synopsis-section .synopsis-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description a{color: black;text-decoration: underline;}
body .synopsis-section .synopsis-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description p{font-family: 'Poppins';color: #000;line-height: 2.2em; padding-bottom: 40px; }
body .synopsis-section .synopsis-content .content:nth-child(3) .btn{margin-bottom: 110px;}
body .synopsis-section .synopsis-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description p:last-child { padding-bottom: 0; }

/* reviews section */
body .reviews-section{padding: 0px;overflow: hidden;}
body .reviews-section .reviews-content .content:last-child{width: 20%;z-index: 1;}
body .reviews-section .reviews-content .content:last-child h2{ color:#FFFFFF !important ; font-size: 28.125rem; writing-mode: vertical-lr; font-family: 'bignoodletitling'; color: #014EFF;line-height: .8em;}
body .reviews-section .reviews-content .content:last-child h2::after{content: ''; width: 1130px ; height: 100%; background: url(../images/emojis-background.png); position: absolute; display:block; right: -170px;background-size: cover; background-repeat: no-repeat;}
body .reviews-section .reviews-content .content:first-child{width: 74%; padding-top: 85px;}
body .reviews-section .reviews-content .content:first-child h4{max-width:688px; line-height: 91.9% !important;font-size: 6.25rem; color: white; line-height: .85em;padding-bottom: 45px;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype{display: flex; justify-content: flex-start;flex-wrap: wrap;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content {color:black;  max-width: 332px; width: 31%;margin-right: 3.5%; text-align: center; min-height: 486px; box-shadow: 0px 84px 84px rgb(0 0 0 / 7%); border-radius: 15px; padding: 43px 38px 24px; background-color: white; }
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content p{font-size: 0.8125rem;line-height: 2.15em;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content h5{font-size: 1.875rem; line-height: 1.1em    ; padding-bottom: 15px;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content .five-stars::before{content: '';background: url(../images/five-stars.png); position: relative; display:block;top: 0; margin: auto; right:0; background-size: contain; background-repeat: no-repeat;width: 111px; height: 21px;margin-bottom: 29px;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content .five-stars{position: relative;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content:nth-child(2){top: 65px; position: relative;}
body .reviews-section .reviews-content .content:first-child .reviews-section-posttype .review-content:nth-child(3){top: 150px;position: relative;margin-right: 0;}

/* contact section */
body.page-id-305 .contact-section .contact-content { padding: 336px 0px 400px!important;}
body.page-id-305 .contact-section .contact-content .content:first-child { top: 336px; }
body.page-id-305 .contact-section::after{z-index: 3;}


/* ................. */
/* Book A Call Page */
/* --------------- */

body .call-me-section{padding: 0px;}
.call-me-section .call-me-content{padding: 0px!important; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; position: relative;}
.call-me-section .call-me-content .content:nth-child(1){ position: absolute; left: 0px; z-index: 999;    top: 50%; transform: translate(0px , -50%); height: 100%;}
.call-me-section .call-me-content .content:nth-child(1) .et_pb_text{height: 100%;}
.call-me-section .call-me-content .content:nth-child(1) .et_pb_text .et_pb_text_inner{height: 100%;}
.call-me-section .call-me-content .content:nth-child(1) h2{font-size: 28.125rem; writing-mode: vertical-rl; color: #1877f1;height: 100%;text-align: center;}
.call-me-section .call-me-content .content:nth-child(2){ position: absolute; left: 0px; top: 0px; width: 60%;height: 100%;}
.call-me-section .call-me-content .content:nth-child(2) .et_pb_image{overflow: hidden; border-radius: 0px 0px 433px 0px;height: 100%;}
.call-me-section .call-me-content .content:nth-child(2) .et_pb_image .et_pb_image_wrap {height: 100%;}
.call-me-section .call-me-content .content:nth-child(2) .et_pb_image .et_pb_image_wrap img{height: 100%; object-fit: cover;}
.call-me-section .call-me-content .content:nth-child(3){ width: 100%; padding: 125px 0px 200px;}
.call-me-section .call-me-content .content:nth-child(3) .et_pb_blurb{display: flex;justify-content: flex-end;}
.call-me-section .call-me-content .content:nth-child(3) .et_pb_blurb .et_pb_blurb_content{width: 33%; max-width: 33%;margin: 0px;}
.call-me-section .call-me-content .content:nth-child(3) .et_pb_blurb .et_pb_blurb_content .et_pb_module_header{font-size: 6.25rem;color: #000;padding-bottom: 30px;}
.call-me-section .call-me-content .content:nth-child(3) .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_description{color: #000; line-height: 2em;    font-weight: 500;}
.call-me-section .call-me-content .content:nth-child(3) .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_description p{padding-bottom: 40px;}

.book-invest-section{padding: 0px;}
.book-invest-section .book-invest-content{padding: 100px 0px;}
.book-invest-section .book-invest-content .content{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.book-invest-section .book-invest-content .content .text-content{margin-bottom: 40px;width: 100%;}
.book-invest-section .book-invest-content .content .text-content .et_pb_blurb_content{max-width: 100%;}
.book-invest-section .book-invest-content .content .text-content .et_pb_blurb_content .et_pb_module_header{font-size: 3.125rem; text-align: center; padding-bottom: 30px;}
.book-invest-section .book-invest-content .content .text-content .et_pb_blurb_content .et_pb_blurb_description{font-size: 20px;color: #000;text-align: center;line-height: 2em;}
.book-invest-section .book-invest-content .content .btn.crt{    margin: 20px 75px 20px 0px!important;}
.book-invest-section .book-invest-content .content .btn{margin: 20px 0px!important;}


/* ............. */
/* PodCast Page */
/* ----------- */

.podcast-content-section{padding: 0px;}
.podcast-content-section .cfm-episodes-grid .cfm-episode-title{display: none;}



/* .................. */
/* Event Blog Listing Page */
/* ---------------- */
.et_right_sidebar #main-content .container:before{display: none;}
.blog-sub-section{padding: 0px;}
.blog-sub-section .blog-sub-content{padding: 87px 0px 63px;}
.blog-sub-section .blog-sub-content .et_pb_blurb_content{max-width: 100%;}
.blog-sub-section .blog-sub-content .et_pb_blurb_content .et_pb_module_header{font-size: 3.125rem;color: #000;text-align: center;padding-bottom: 33px;}
.blog-sub-section .blog-sub-content .et_pb_blurb_content .et_pb_blurb_description{font-size: 1.125rem;line-height: 2em; color: #000;text-align: center;}
.blog-sub-section .blog-sub-content .et_pb_blurb_content .et_pb_blurb_description a{color: #000;font-weight: 700;}
.event-blog .container{padding-top: 0px!important;}
.event-blog .container #left-area{width: 100%;float: inherit;padding: 0;display: flex; flex-wrap: wrap;}
.event-blog .container #left-area .et_pb_post{width: calc(33.33% - 67.33px);font-size: 13px;text-align: center; margin-bottom: 75px;background-color: #fff; padding: 19px 17px 42px; box-shadow: 0px 74px 164px rgb(0 0 0 / 15%); border-radius: 15px;}
.event-blog .container #left-area .et_pb_post:nth-child(3n + 2){margin: 0px 101px;margin-bottom: 75px;}
.event-blog .container #left-area .et_pb_post .entry-featured-image-url{height: 393px; overflow: hidden; border-radius: 10px;}
.event-blog .container #left-area .et_pb_post .entry-featured-image-url img{height: 100%;object-fit: cover;}
.event-blog .container #left-area .et_pb_post .entry-title{font-size: 1.875rem;text-align: center;}

body .blog-listing-section-content{padding: 0px 0px 75px;}
.blog-listing-section-content .blog-listing-content{padding: 0px;}
.blog-listing-section-content .blog-listing-content .events-section-listing{display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap;}
.blog-listing-section-content .blog-listing-content .events-section-listing .events-content{width: calc(33.33% - 90px); padding: 19px 17px; border-radius: 15px; box-shadow: 0px 84px 84px rgb(0 0 0 / 10%); background-color: #fff; margin-bottom: 74px;}
.blog-listing-section-content .blog-listing-content .events-section-listing .events-content:nth-child(3n + 2){margin: 0px 135px 75px;}
.blog-listing-section-content .blog-listing-content .events-section-listing .events-content .content div:first-child{height: 393px;}
.blog-listing-section-content .blog-listing-content .events-section-listing .events-content .content div:first-child img{width: 100%; height: 100%; object-fit: cover;border-radius: 10px;}
.blog-listing-section-content .blog-listing-content .events-section-listing .events-content .content div:last-child h4{font-size: 1.875rem; color: #000; text-align: center; padding-top: 45px;}
.blog-listing-section-content .blog-listing-content .events-section-listing .events-content .content div:last-child p{font-size: 14px; color: #000; text-align: center; font-weight: 400; padding-bottom: 42px;}
.blog-listing-section-content .blog-listing-content .btn.load-more{display: flex; justify-content: center;padding-top: 30px;}


/* ...................... */
/* Event Blog inner Page */
/* -------------------- */

.inner-blog-banner{ height: 688px; background-color: blue;background: url(../images/blog-inner-banner.jpg)no-repeat center / cover; display: flex; align-items: center;justify-content: center;}
.inner-blog-banner .blog-content{width: 85%;}
.inner-blog-banner .blog-content .content{width: 50%;}
.inner-blog-banner .blog-content .content h1{font-size: 6.125rem;color: #fff;}
.inner-blog-banner .blog-content .content p{color: #fff; font-weight: 400;}
.event-blog .container{padding-top: 0px!important;}

/***************GIVING PAGE******************/
/* Giving Section */
body .giving-section{padding: 0px;}
body .giving-section .giving-content{padding: 0px;width: 100%;display: flex; justify-content: flex-end; align-items: flex-start;}
body .giving-section .giving-content .content:first-child{position: absolute; z-index: 9; left: 0px; top: 220px;width: 100%;z-index: 5;}
body .giving-section .giving-content .content:first-child .et_pb_module{width: 90%;margin: auto;}
body .giving-section .giving-content .content:first-child h2{ font-size: 28.125rem; writing-mode: vertical-lr; font-family: 'bignoodletitling'; color: #014EFF;line-height: .8em;}
body .giving-section .giving-content .content:nth-child(2){width: calc(60% - 90px);z-index: 4;  margin: 0px;position: absolute;left: 0px;top: 0px;border-radius: 0px 0px 420px 0px; overflow: hidden;}
body .giving-section .giving-content .content:nth-child(2) .et_pb_module{    max-width: 1112px; max-height: 1164px;}
body .giving-section .giving-content .content:nth-child(3){width: 40%; margin: 0px; margin-right: 5%!important;padding: 90px 20px 6.5% 85px;position: relative;z-index: 9;}
body .giving-section .giving-content .content:nth-child(3) .text-content .et_pb_blurb_content{width: 100%; max-width: 100%;}
body .giving-section .giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_module_header{line-height: 91.9% !important;font-size: 6.25rem; color: #000; line-height: .85em;padding-bottom: 45px;}
body .giving-section .giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description{font-size: 1.125rem;}
body .giving-section .giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description a{color: black;text-decoration: underline;}
body .giving-section .giving-content .content:nth-child(3) .text-content .et_pb_blurb_content .et_pb_blurb_description p{font-family: 'Poppins';color: #000;line-height: 2.2em;font-size: 1.125rem;}
/* giving sub section */
body .giving-sub-subsection{padding: 0;}
body .giving-sub-subsection .et_pb_row {padding-top: 50px;}
body .giving-sub-subsection h5{ font-size: 3.125rem; line-height: 0.92em; padding-bottom: 30px; }
body .giving-sub-subsection p{ color: #000; font-size: 1.125rem; line-height: 2.16em; padding-bottom: 40px; }
/* informative events section */
body .board-service-section .board-service-column .btn{display: flex;justify-content: flex-end;}
body .board-service-section .board-service-column h4{text-align: center; font-size: 6.25rem;line-height: 0.919em;padding-bottom: 38px;    }
body .board-service-section .board-service-column p{color: black; text-align: center; font-size: 1.125rem; line-height: 2.176em;}
body .board-service-section .board-service-column .btn a{display: inline-block;}
body .board-service-section .board-service-column  .board-service-text{margin-bottom: 65px;max-width: 862px; margin-right: 0; margin-left: auto;}
body .board-service-section .board-service-column .board-service-image{display: none    ;}
/* Solutions 8 Gives */
body .solutions-8-gives-section .solutions-8-gives-column .text-content ul {display: flex; flex-wrap: wrap; flex-direction: row;}
body .solutions-8-gives-section .solutions-8-gives-column .text-content ul li{width: 45%; font-size: 1.25rem; line-height: 3.15em;color: #014EFF;}
body .solutions-8-gives-section .solutions-8-gives-column .text-content ul li:nth-child(odd){margin-right: 10%;}
body .solutions-8-gives-section .solutions-8-gives-column .text-content ul li strong{color: white;}
body .solutions-8-gives-section .solutions-8-gives-column .text-content{color: #fff;}
body .solutions-8-gives-section .solutions-8-gives-column .text-content p{font-size: 1.125rem; line-height: 2.16em;padding-bottom: 44px;}
body .solutions-8-gives-section .solutions-8-gives-column .text-content h4{font-size: 6.25rem; color: white; line-height: 0.91;padding-bottom: 30px;}
body .solutions-8-gives-section .solutions-8-gives-column{max-width: 806px;}

/********************** Event Detail  **********************/
body.single-post div#left-area { width: 100%; padding-right: 0 !important; padding-bottom: 0;}
body.single-post div#left-area article{padding-bottom: 0;margin-bottom: 0;}
body.single-post #main-content > .container{padding-top: 0 !important;}
body.single-post h4{font-size: 3.125rem; padding-bottom: 30px; line-height: 91.9%; color: black;} 
body.single-post p{font-size: 1.125rem; line-height: 2.175em; color: black;}
body.single-post .et_pb_row{padding-top: 20px;padding-bottom: 20px;}