/* Desktop Screen L*/

@media only screen and (max-width: 1667px) {
    /* home banner */
    body .home-banner .container .banner-title h2{ font-size: 310px;padding-top: 250px;}
    body .home-banner .container .banner-image img { height: calc(970px - 10%); width: calc(calc(831px - 10%));}
    body .home-banner { min-height: 930px; }


}
@media only screen and (max-width: 1440px) {
    /* home banner */
    body .home-banner .container .banner-title h2 { font-size: 270px;padding-top: 210px;}
    


}

/* Desktop Screen M */
@media only screen and (max-width: 1338px) {
    /* home banner */
    body .home-banner .container .banner-title h2 { font-size: 240px;padding-top: 250px;}
    body .home-banner .container .banner-image img { height: calc(970px - 15%); width: calc(calc(831px - 15%)); }
    body .home-banner { min-height: 830px; }
}

@media only screen and (max-width: 1280px) {
    /* home banner */
    body .home-banner .container .banner-title h2 { font-size: 220px;}
    body .home-banner { min-height: 790px; }
    body .home-banner .container .banner-image img { height: calc(970px - 20%); width: calc(calc(831px - 20%)); }

}

/* Desktop Screen S */
@media only screen and (max-width: 1167px) {

}

@media only screen and (max-width: 1024px) {
/* -Home Page- */
/* As Seen On (Logo Section) */
.banner-sub-section .banner-sub-content .contain .title { margin-bottom: 40px; }
}

/* Tablet Screen */
@media only screen and (max-width: 980px) {
    /* home banner */
    body .home-banner .container .banner-image img { height: calc(970px - 25%); width: calc(calc(831px - 25%)); }
    body .home-banner { min-height: 760px; }
    body .home-banner .container .banner-title h2 { font-size: 185px; }

}

@media only screen and (max-width: 867px) {
    body .home-banner .container .banner-image img { max-width: 586.49px; max-height: 686.58px; }
    body .home-banner .container .banner-title h2 { font-size: 140.49px; flex-direction: column; justify-content: center; padding-top: 270px; }
    body .home-banner { min-height: unset; max-height: 750px; }
    body .home-banner .container .banner-title h3 { font-size: 17.83px;}
}

@media only screen and (max-width: 768px) {

}

/* Mobile L */
@media only screen and (max-width: 667px) {
/* -Home Page- */
/* As Seen On (Logo Section) */
.banner-sub-section { padding: 45px 0px; }
.banner-sub-section .banner-sub-content .contain .title { margin-bottom: 30px; }
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section a { height: 67px; padding: 0px 30px; }

}

/* Mobile M*/
@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 400px) {
/* -Home Page- */
/* As Seen On (Logo Section) */
.banner-sub-section .banner-sub-content .contain .mq-co-logo-section a { padding: 0px 10px; }
}

/* Mobile S */
@media only screen and (max-width: 360px) {

}